.container
  margin 0 auto
  max-width 50em
  width 100%

.content
  h1
    border-bottom 1px solid #aaa
    font-size 4em
    &#surgeboris-github-io
      word-break: break-word;

  p
    font-size 1.2em
